body {
	background-image: url("http://i.imgur.com/rrmquq5.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	color: #FFFFFF;
}

.fixed-bg {
    background-image: url("http://i.imgur.com/rrmquq5.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box {
	border-top: 12px solid #222;
	border-bottom: 12px solid #222;
	border-radius: 0px;
	height: auto;
}

.text {
	background: rgba(25, 25, 25, .75);
	width:75%;
	height: 50%;
	margin: auto;
	padding: 5px;
	text-align: center;
	border: 5px solid #111;
}

header {
	background: #222;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

ul {
	background: #333;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	overflow: hidden;
}

li {
	display: inline;
	padding: 1px 0px 1px 0px;
}

iframe.counter {
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.menu-button {
   border-top: 1px solid #400040;
   background: #555;
   padding: 6px 12px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   font-family: Impact, Charcoal, sans-serif;
   text-decoration: none;
   vertical-align: middle;
}
.menu-button:hover {
   border-top-color: #0099FF;
   background: #0099FF;
   color: #000000;
}
.menu-button:active {
   border-top-color: #003399;
   background: #003399;
   color: #FFFFFF;
}

.left {
	float: left;
}

.right {
	float: right;
}